<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fast.gateway.repository.ApiQuotaLimitRepository">
    <select id="listAllApiQuotaLimitConfig" resultType="ApiQuotaLimitDO">
        SELECT * FROM api_quota_limit_config
    </select>

    <insert id="addApiQuotaLimitConfig" parameterType="ApiQuotaLimitDO">
        INSERT INTO api_quotao_limit_config (api, quota_key, quota, time_span, create_time, update_time)
        VALUES (#{api}, #{quotaKey}, #{quota}, #{timeSpan}, #{createTime}, #{updateTime})
    </insert>

    <update id="updateApiRateLimitConfig" parameterType="ApiQuotaLimitDO">
        UPDATE api_quotao_limit_config
        SET quota_key = #{quotaKey},
            quota = #{quota},
            time_span = #{timeSpan},
            update_time = #{updateTime}
        WHERE
            id = #{id}
        AND
            api = #{api}
    </update>

    <delete id="deleteApiRateLimitConfig" parameterType="ApiQuotaLimitDO">
        DELETE FROM api_quotao_limit_config
        WHERE
            id = #{id}
        AND
            api = #{api}
    </delete>
</mapper>